api-ref/src/wadls/compute-api/src/v2/ext/os-server-start-stop.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2014 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-server-start-stop-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID"><para>The ID
                            for the tenant or account in a
                            multi-tenancy cloud.</para></wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="Server UUID"
                                   ><para>The UUID for the server of
                                   interest to you.</para></wadl:doc>
                        </param>
                        <resource path="action" id="action">
                            <method href="#start"/>
                            <method href="#stop"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="start">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Start server">
            <para role="shortdesc">Starts a stopped server and changes
                its status to ACTIVE.</para>
            <para>Preconditions</para>
            <itemizedlist>
                  <listitem><para>You can only start a server which
                  its status is <code>SHUTOFF</code>.</para></listitem>
                <listitem><para>If the specified server is locked, you
                need to have administrator privileges to start the
                server.</para></listitem>
            </itemizedlist>
            <para>Asynchronous Postconditions</para>
            <itemizedlist>
              <listitem><para>With correct permissions, you can see
              the server's status as <code>ACTIVE</code> through API
              calls.</para></listitem>
              <listitem><para>With correct access, you can see the
              started server in the compute node that Compute service
              manages.</para></listitem>
            </itemizedlist>
            <para>Troubleshooting</para>
            <itemizedlist>
                  <listitem><para>If the server's status does not go
                  to <code>ACTIVE</code>, the request failed. Ensure
                  you meet the preconditions or check if there is
                  another operation that causes race conditions for
                  the server.</para></listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                    xml:lang="EN" title="Start server: JSON request">
                    <xsdxt:code
                        href="../api_samples/os-server-start-stop/server-start-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                    xml:lang="EN" title="Start server: XML request">
                    <xsdxt:code
                        href="../api_samples/os-server-start-stop/server-stop-req.xml"
                    />
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="os-start" style="plain" type="xsd:string"
                    required="true" id="os-start">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN"><para>Specify the
                                <code>os-start</code> action in the
                            request body.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="stop">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Stop server">
            <para role="shortdesc">Stops a running server and changes
                its status to <code>SHUTOFF</code>.</para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem><para>The specified server must exist.
                </para></listitem>
                  <listitem><para>You can only stop a server which
                  its status is <code>ACTIVE</code> or <code>ERROR</code>.
                  </para></listitem>
                <listitem><para>If the specified server is locked,
                you need to have administrator privileges to stop
                the server.</para></listitem>
            </itemizedlist>
            <para>Asynchronous Postconditions</para>
            <itemizedlist>
                  <listitem><para>With correct permissions, you can
                  see the server's status as <code>SHUTOFF</code>
                  through API calls.</para></listitem>
                  <listitem><para>With correct access, you can see
                  the server's instance data on the compute node
                  that Compute service manages.</para></listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                    xml:lang="EN" title="Stop server: JSON request">
                    <xsdxt:code
                        href="../api_samples/os-server-start-stop/server-stop-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                    xml:lang="EN" title="Stop server: XML request">
                    <xsdxt:code
                        href="../api_samples/os-server-start-stop/server-stop-req.xml"
                    />
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="os-stop" style="plain" type="xsd:string"
                    required="true" id="os-stop">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN"><para>Specify the
                                <code>os-stop</code> action in the
                            request body.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202"/>
    </method>
</application>
